.section {
  padding: 70px 0;
  position: relative;
}

.section-image {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.section-image-second {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}